trunk/GrupoSOAP/AppWSTest/Service References/PedidoWS/AdmPedido1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2518/AdmPedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWS.Dominio" />
  <xs:element name="crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prioridad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="crearResult" nillable="true" type="q1:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="listarResult" nillable="true" type="q2:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creardet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npedido" type="xs:int" />
        <xs:element minOccurs="0" name="codarticulo" type="xs:int" />
        <xs:element minOccurs="0" name="articulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creardetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="creardetResult" nillable="true" type="q3:Pedido_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarDetalle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="listarDetalleResult" nillable="true" type="q4:ArrayOfPedido_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>