GrupoSOAP/AplicacionWebMVC/Service References/AdmProductoWS/AdmProducto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2518/AdmProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWS.Dominio" />
  <xs:element name="crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="crearResult" nillable="true" type="q1:Articulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="modificarResult" nillable="true" type="q2:Articulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="obtenerResult" nillable="true" type="q3:Articulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="o" nillable="true" type="q4:Articulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AppWS.Dominio" minOccurs="0" name="listarResult" nillable="true" type="q5:ArrayOfArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>