GrupoSOAP/AppWSTest/Service References/ProductoWS/AdmProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdmProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2518/AdmProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2518/AdmProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2518/AdmProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWS.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmProducto_crear_InputMessage">
    <wsdl:part name="parameters" element="tns:crear" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:modificar" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:obtener" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_listar_InputMessage">
    <wsdl:part name="parameters" element="tns:listar" />
  </wsdl:message>
  <wsdl:message name="IAdmProducto_listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmProducto">
    <wsdl:operation name="crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmProducto/crear" message="tns:IAdmProducto_crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmProducto/crearResponse" message="tns:IAdmProducto_crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmProducto/modificar" message="tns:IAdmProducto_modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmProducto/modificarResponse" message="tns:IAdmProducto_modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmProducto/obtener" message="tns:IAdmProducto_obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmProducto/obtenerResponse" message="tns:IAdmProducto_obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmProducto/eliminar" message="tns:IAdmProducto_eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmProducto/eliminarResponse" message="tns:IAdmProducto_eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmProducto/listar" message="tns:IAdmProducto_listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmProducto/listarResponse" message="tns:IAdmProducto_listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdmProducto" type="tns:IAdmProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crear">
      <soap:operation soapAction="http://tempuri.org/IAdmProducto/crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <soap:operation soapAction="http://tempuri.org/IAdmProducto/modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtener">
      <soap:operation soapAction="http://tempuri.org/IAdmProducto/obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/IAdmProducto/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="http://tempuri.org/IAdmProducto/listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdmProducto">
    <wsdl:port name="BasicHttpBinding_IAdmProducto" binding="tns:BasicHttpBinding_IAdmProducto">
      <soap:address location="http://localhost:2518/AdmProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>