GrupoSOAP/AppWSTest/Service References/PedidoWS/AdmPedido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdmPedido" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2518/AdmPedido.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2518/AdmPedido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2518/AdmPedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWS.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmPedido_crear_InputMessage">
    <wsdl:part name="parameters" element="tns:crear" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_listar_InputMessage">
    <wsdl:part name="parameters" element="tns:listar" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_creardet_InputMessage">
    <wsdl:part name="parameters" element="tns:creardet" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_creardet_OutputMessage">
    <wsdl:part name="parameters" element="tns:creardetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_listarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:listarDetalle" />
  </wsdl:message>
  <wsdl:message name="IAdmPedido_listarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarDetalleResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmPedido">
    <wsdl:operation name="crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmPedido/crear" message="tns:IAdmPedido_crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmPedido/crearResponse" message="tns:IAdmPedido_crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmPedido/listar" message="tns:IAdmPedido_listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmPedido/listarResponse" message="tns:IAdmPedido_listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creardet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmPedido/creardet" message="tns:IAdmPedido_creardet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmPedido/creardetResponse" message="tns:IAdmPedido_creardet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmPedido/listarDetalle" message="tns:IAdmPedido_listarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmPedido/listarDetalleResponse" message="tns:IAdmPedido_listarDetalle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdmPedido" type="tns:IAdmPedido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crear">
      <soap:operation soapAction="http://tempuri.org/IAdmPedido/crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="http://tempuri.org/IAdmPedido/listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creardet">
      <soap:operation soapAction="http://tempuri.org/IAdmPedido/creardet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarDetalle">
      <soap:operation soapAction="http://tempuri.org/IAdmPedido/listarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdmPedido">
    <wsdl:port name="BasicHttpBinding_IAdmPedido" binding="tns:BasicHttpBinding_IAdmPedido">
      <soap:address location="http://localhost:2518/AdmPedido.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>